body, html{
	font-size: 16px;
	font-family: 'Averia Sans Libre', 'cursive';
	padding: 0;
	margin: 0;
}


h1{
	margin: 0px 0px;
	color: #f3ea12;
}



/*splashscreen*/

.splashlogo{
	float: right;
    align-content: center;
    margin-right: 380px;
    margin-top: 350px;
}



/*onboarding*/

.piku_1 {
width: 60%;
float: left;
}

.piku_01 {
	float: right;
}

.rectangle {
	width: 1024px;
	height: 252px;
	background-color: #4e2e4e;
	float: right;
}

.rectangle h3{
	font-size: 30px;
	color: #fff;
	float: right;
	margin-right: 350px;'
	margin-top: 5px;
}

.rectangle h6{
	font-size: 20px;
	color: #fff;
	float: right;
	margin-right: 293px;
	font-weight: lighter;
	margin-top: 10px;

}



.notification_1{
	width: 40%;
	float: right;
}
.notification_1 h4{
	font-size: 30px;
	color: #fff;
	position: absolute;
	top: 15%;
	left: 69%;
}

.content{
	margin-top: 5%;
}

/*onboarding_1*/

.background_1{
	background-color: #4e2e4e;
}

.aboutchild h3{
	text-align: center;
	font-size: 30px;
	color: #fff;

}

.aboutchild h6{
color: #fff;
text-align: center;
font-size: 20px;
font-weight: lighter;

}

.addicon{
	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
	display: block;

}

.addicon p{
	font-size: 20px;
	text-align: center;
	margin-bottom: 0;
	color:#fff;
	margin-top: 10px;

}

/*onboarding_2*/

.aboutchild_rectangle{
	background-color: #3d213d;
	height: 428px;
	margin-top: 200px;
	;
}

.left_content{
	width: 40%;
	float: left;
}

.left_content h2{
	font-weight: lighter;
}
.addchild{
	float: right;
	padding: 5%;
}

.addchild h2{
	text-align: right;
	color: #fff;
}

.addchild h3 h6{
	font-size: 30px;
	color: #fff;
}

.right_content{
	width: 40%;
	float: left;
	margin-left: 8%;
}

.right_content h4{
  	margin-top: 10%;
  	margin-bottom: 0.5%;
  	color: #ffc51b;
}

.line {
  width: 380px;
  height: 4px;
  background: #1bbe7a;
}

.circle{
    width: 80px;
    height: 80px;
    background-color: #1bbe7a;
    border-radius: 100px;
    border: 5px solid #0ca364;
    margin-top: 8%;
    display: inline-block;
    margin-right: 2%;
    position: relative;
}

.circle span{
	color: #ffc51b;
	position: absolute;
	left: 30%;
	font-size: 20px;
}

.done_button1 {
	border-radius: 40px;
	background-color: #ed1954;
	color: black;
	border: 5px solid #cc0e43;
	height: 80px;
	width: 150px;
	font-size: 20px;
	color: #fff;
	float: right;
	margin-top: 8%;
}


/*onboaring_3*/

.addicon_1{
	margin-left: 26%;
margin-right: auto;
display: block;
margin-top: 31%;

}

.addicon_1 p{
	font-size: 20px;
	text-align: center;
	color:#fff;
	float: right;
	margin-right: 61%;
}


.nirvi p{
	float: right;
	margin-right: 47.5%;
	font-size: 20px;
	text-transform: capitalize;
}

.circle_1{
	width: 80px;
    height: 80px;
    background-color: #f2e912;
	border: 5px solid #cbc305;
    border-radius: 100px;
    margin-top: 8%;
    display: inline-block;
    margin-right: 2%;
    position: relative;
    float: right;
	margin-right: 45%;

}
.circle_1 span{
	font-size: 20px;
	color:#1bbe7a;
	position: absolute;
	left: 30%;

}


.done_button2 {
	border-radius: 40px;
	background-color: #ed1954;
	color: black;
	border: 5px solid #cc0e43;
	height: 80px;
	width: 150px;
	font-size: 20px;
	color: #fff;
	float: right;
	margin-top: 8%;
}


/*onboarding_4*/

.aboutapp_1 h3{
	color: #f2e912;
	font-size: 25px;
	margin-top: 50px;
}

.aboutapp_1 h4{
	color: #fff;
	font-size: 20px;
	font-weight: lighter;
}

/*onboarding_5*/

.handovertablet{
	font-size: 25px;
	color: #4e2e4e;
	float: right;
	margin-right: 200px;
	margin-top: 50px;
}

.ready_button2 {
	border-radius: 40px;
	background-color: #ed1954;
	color: black;
	border: 5px solid #cc0e43;
	height: 80px;
	width: 150px;
	font-size: 20px;
	color: #fff;
	float: right;
	margin-right: 300px;
	margin-top: 465px;
}


.kid{
	background-image: url("../media/illustrations/kid.png");
	min-height: 768px;
	max-width: 1024px;
}





/*onboarding_6*/

.kid_1{
	background-image: url("../media/illustrations/piku_02.png");
	min-height: 768px;
	max-width: 1024px;
}

.yes_button3 {
	border-radius: 40px;
	background-color: #ed1954;
	color: black;
	border: 5px solid #cc0e43;
	height: 80px;
	width: 150px;
	font-size: 20px;
	color: #fff;
	float: right;
	margin-right: -233px;
	margin-top: 346px;
}

.notifications{
	float: right;
	margin-right: 100px;
	margin-top: 100px;
}
.kid_1 h4{
	font-size: 20px;
color: #fff;
font-weight: lighter;
float: right;
margin-top: 148px;
margin-right: -249px;
text-align: justify;

}


/*story*/

p{
	color: #fff;
	margin-top: 0;
	margin-bottom: 0;
	
}

.header{
	width: 1024px;
	background-color:rgba(0,0,0,0.2);
	padding: 20px 50px;
}

.logoheader{
	width: 1024px;
	background-color:#4e2e4e;
	padding: 20px 50px;
}

.dashboardbg{
	background-image: url("../media/background/dashboard.png");
	min-height: 768px;
	max-width: 1024px;
	float: left;
}

/*dashboard title color*/

a:hover{
text-decoration:none;
}

.festivaltitle1{
	color: #e68712;
	text-transform: uppercase;
}
.festivaltitle2{
	color: #027e77;
	text-transform: uppercase;
}
.festivaltitle3{
	color: #d6033e;
	text-transform: uppercase;
}
.festivaltitle4{
	color: #1aae5e;
	text-transform: uppercase;
}
.festivaltitle5{
	color: #894154;
	text-transform: uppercase;
}
.festivaltitle6{
	color: #cd2d57;
	text-transform: uppercase;
}

.dashboardnotification{
	float: right;
    width: 70%;
    margin-top: -53px;
}

.dashboardnotification h4{
	position: absolute;
	color: #fff;
	float: right;
	width: 10%;
	margin-top: -70px;
	margin-left: 62px;
}


/*family*/

.events_bg{
	margin-left: 30%;
	margin-top: 20%;
}

.crafts_bg{
	margin-left: 10%;
    margin-top: 20%;
}


.family_title h1{
	font-size: 36px;
	color: #fcb21e;
	float: right;
	margin-right: 22%;
	margin-top: 7%;
}

/* stories*/
.story_02{
	background-image: url("../media/background/bg_02.png");
	min-height: 768px;
	max-width: 1024px;
}

.story_01{
	background-image: url("../media/background/bg_01.png");
	min-height: 768px;
	max-width: 1024px;
}

.story_03{
	background-image: url("../media/background/bg_03.png");
	min-height: 768px;
	max-width: 1024px;
}

.story_04{
	background-image: url("../media/background/bg_04.png");
	min-height: 768px;
	max-width: 1024px;
}

.story_05{
	background-image: url("../media/background/bg_05.png");
	min-height: 768px;
	max-width: 1024px;
}

.story_06{
	background-image: url("../media/background/bg_06.png");
	min-height: 768px;
	max-width: 1024px;
}

.story_07{
	background-image: url("../media/background/bg_07.png");
	min-height: 768px;
	max-width: 1024px;
}

.story_08{
	background-image: url("../media/background/bg_08.png");
	min-height: 768px;
	max-width: 1024px;
}
.story_09{
	background-image: url("../media/background/bg_09.png");
	min-height: 768px;
	max-width: 1024px;
}
.story_10{
	background-image: url("../media/background/bg_10.png");
	min-height: 768px;
	max-width: 1024px;
}
.story_11{
	background-image: url("../media/background/bg_11.png");
	min-height: 768px;
	max-width: 1024px;
}

.icons{
	height: 40px;
	width: 40px;
}



.logo{
	height: 45px;
	text-align: center;
	padding-top: 4px;
}


.nav{
	position: absolute;
	top:680px;
}

#back{
	left:40px;
	height: 20px;
	width: 20px;
}

#next{
	left: 944px;
	height: 20px;
	width: 20px;
}

.storycontent1 {
	float: right;
	margin-right: 90px;
	padding-top: 70px;
	width: 30%;
	margin-bottom: 30px;
}

.storycontent1 p{
	color: #fff;
	font-size: 25px;
	margin-bottom: 30px;
}

.storycontent3 p{
	color: #fff;
	float: right;
	font-size: 25px;
	height: 60px;
	margin-right: 90px;
	padding-top: 400px;
	width: 30%;
}

/*gamesdashboard*/

.games_dashboard{
	float: right;
	margin-top: 70px;
	margin-right: 20px;
	text-align: center;
	font-size: 25px;
	text-transform: uppercase;

}

.games_dashboard p{
	
	padding-bottom: 25px;
}


/*wordpuzzle*/

.wordpuzzlebg_01{
	background-image: url("../media/background/wordpuzzlebg_01.png");
	min-height: 768px;
	max-width: 1024px;
}

.word_ram{
	display: block;
	margin: 20px auto;
}

.blocks{
	display: block;
	margin: 20px auto;
	width: 22%;
}

.word_block{
	height: 70px;
	width: 70px;
	background-color: #43241a;
	border-radius: 10px;
	border: 1px solid #fff;
 	display: inline-block;
}

.word_block p{
 font-size: 45px;
 color: #f3ea12;
 text-align: center;
}

.level_icon{
	height: 40px;
	width: 40px;
	margin-top: 20px;
	margin-left: 45px;
}

.level p{
	margin-left: 45px;
}



/*wordpuzzle-scattered*/

.word_block_0{
	height: 70px;
	width: 70px;
	background-color: #43241a;
	border-radius: 10px;
	border: 1px solid #fff;
 	
}

.word_block_0 p{
 font-size: 45px;
 color: #f3ea12;
 text-align: center;
}

.word_block_00{
	height: 70px;
	width: 70px;
	background-color: #43241a;
	border-radius: 10px;
	border: 1px solid #fff;
 	
}

.word_block_00 p{
 font-size: 45px;
 color: #f3ea12;
 text-align: center;
}


.word_block_000{
	height: 70px;
	width: 70px;
	background-color: #43241a;
	border-radius: 10px;
	border: 1px solid #fff;
 	
}

.word_block_000 p{
 font-size: 45px;
 color: #f3ea12;
 text-align: center;
}




/*wordpuzzle*/

.wordpuzzlebg_02{
	background-image: url("../media/background/wordpuzzlebg_02.png");
	min-height: 768px;
	max-width: 1024px;
}


/* crafts */

.festivalcraft p{
	font-size: 30px;
	color: #ed1954;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left: 45px;
}

.fest_craft h4 {
	font-weight: lighter;
}

.fest_craft h5 {
	font-weight: lighter;
}


.crafts{
	margin-top: 7%;
	max-width: 1024px;
}

.fest_craft{
	margin-left: 4%;
}

.fest_craft:first-child{
	margin-left: 11%;
}

.fest_craft h4{
	position: absolute;
	top: 18%;
	left: 38%;
	color: #fff;
}

.fest_craft h5{
	position: absolute;
	top: 60%;
	left:40%;
	color: #fff;
}

.row_crafts{
	margin-top: 2%;
	margin-right: 3%;
	text-align: center;
}







/*diwali craft*/
.fest_craft_1{
	margin-left: 4%;
}

.fest_craft_1:first-child{
	margin-left: 11%;
}

.row_crafts_1{
	margin-top: 3%;
}

.fest_craft_1 h5{
color: #3f3f3f;
text-align: center;
}


.video{
	float: right;
	margin-right: 18%;
	margin-top:5%;
}



/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.device {
    margin-top: 20px;
}
.swiper-container {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
.swiper-wrapper {
	position:relative;
	width:100%;
	-webkit-transition-property:-webkit-transform, left, top;
	-webkit-transition-duration:0s;
	-webkit-transform:translate3d(0px,0,0);
	-webkit-transition-timing-function:ease;
	
	-moz-transition-property:-moz-transform, left, top;
	-moz-transition-duration:0s;
	-moz-transform:translate3d(0px,0,0);
	-moz-transition-timing-function:ease;
	
	-o-transition-property:-o-transform, left, top;
	-o-transition-duration:0s;
	-o-transform:translate3d(0px,0,0);
	-o-transition-timing-function:ease;
	-o-transform:translate(0px,0px);
	
	-ms-transition-property:-ms-transform, left, top;
	-ms-transition-duration:0s;
	-ms-transform:translate3d(0px,0,0);
	-ms-transition-timing-function:ease;
	
	transition-property:transform, left, top;
	transition-duration:0s;
	transform:translate3d(0px,0,0);
	transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide {
	float: left;
position: relative;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
	-ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
	-ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
	/* Specify Swiper's Size: */

	/*width:200px;
	height: 100px;*/
}
.swiper-slide {
	/* Specify Slides's Size: */
	
	/*width: 100%;
	height: 100%;*/
}
.swiper-slide-active {
	/* Specific active slide styling: */
	
}
.swiper-slide-visible {
	/* Specific visible slide styling: */	

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
	/* Stylize pagination button: */	

}
.swiper-active-switch {
	/* Specific active button style: */	
	
}
.swiper-visible-switch {
	/* Specific visible button style: */	
	
}

.device .arrow-left {
  color: #FFF;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.device .arrow-right {
  color: #FFF;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.swiper-container {
  width: 900px;
  height: 500px;
  color: #fff;
  text-align: center;
}


.swiper-slide .title {
 font-size: 14px;
position: absolute;
z-index: 999;
bottom: 168px;
left: 0px;
right: 0px;
margin-left: auto;
margin-right: auto;
color: #fff;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
  display: none;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #222;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;

}
.swiper-visible-switch {
  background: #aaa;
}
.swiper-active-switch {
  background: #fff;
}




/*wordpuzzle*/
.wordpuzzle{
	height: 250px;
    width: 250px;
}
.wordpuzzletitle{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 15px;

}
.wordpuzzleheading{
	text-transform: uppercase;
	margin: 0px 0px;
	color: #fff;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 55px;

}
.wordpuzzlebg{
	background-color: #21b3bf;
}
.wordpuzzleheader{
	width: 1024px;
	background-color:#1b9099;
	padding: 20px 50px;

}

/*puzzle*/

.puzzle{
	height: 250px;
    width: 250px;
}
.puzzlebg{
	background-color: #df5a40;
}
.puzzleheading{
	text-transform: uppercase;
	margin: 0px 0px;
	color: #fff;
	text-align: center;
	padding-top: 45px;
	padding-bottom: 55px;
}

.swiper-slide .puzzletitle{
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
}

.puzzleheader{
	width: 1024px;
	background-color:#903b2a;
	padding: 20px 50px;
}

.puzzle_tomb_bg{
	background-color: #4e2e4e;
	width: 1024px;
}

.tombpuzzletitle{
	color: #fff;
	text-transform: uppercase;
	font-size: 30px;
	text-align: center;
	padding-top: 50px;
}

.tombpuzzle_1{
	width: 500px;
	height: 350px;
	margin-left: 130px;
	padding-top: 5px;
}

.puzzledimensions_2{
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}

.puzzletooltip:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.puzzletooltip{
	display: block;
	margin: 0 auto;
	width:36%;
}

.puzzledimensions_2 p{
	display: block;
	margin: 0 auto;
	width:36%;content: ".";
  	display: block;
  	clear: both;
}

.tombpuzzle{
	background-image: url("../media/background/puzzle_bg.png");
	min-height: 768px;
	max-width: 1024px;
}


/*painting*/

.painting_bg{
	background-image: url("../media/background/painting_bg.png");
	min-height: 768px;
	max-width: 1024px;

}

